:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#000428,#004e92);
color:white;
text-align:center;
overflow-x:hidden;
}

#loader{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

#startBtn{
padding:15px 35px;
font-size:22px;
background:#ff4081;
color:white;
border:none;
border-radius:40px;
cursor:pointer;
box-shadow:0 0 20px #ff4081;
margin-top:30px;
}

.title{
font-size:50px;
margin-top:30px;
animation:glow 2s infinite;
}

.name{
font-size:40px;
color:gold;
margin-bottom:20px;
}

.cake{
width:280px;
border-radius:20px;
box-shadow:0 0 30px gold;
margin:20px auto;
display:block;
}

.msg{
width:90%;
max-width:700px;
margin:auto;
font-size:22px;
line-height:40px;
padding:20px;
}

#giftBtn{
padding:15px 35px;
font-size:20px;
background:gold;
color:black;
border:none;
border-radius:40px;
margin-top:30px;
cursor:pointer;
}

#giftBox{
display:none;
font-size:30px;
padding:40px;
color:#fff;
}

@keyframes glow{
0%{text-shadow:0 0 10px yellow;}
50%{text-shadow:0 0 30px gold;}
100%{text-shadow:0 0 10px yellow;}
}
